* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v3_870 {
  width: 100%;
  height: 1861px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_871 {
  width: 100%;
  height: 100%;
  background: rgba(228,228,228,1);
  opacity: 1;
  position: absolute;
  top: 156px;
  left: 0px;
  overflow: hidden;
}
.v3_881 {
  width: 100%;
  height: 209px;
  background: url("../images/v3_881.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 0px;
  overflow: hidden;
}
.v3_882 {
  width: 100%;
  height: 209px;
  background: rgba(39,41,44,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_883 {
  width: 127px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 56px;
  left: 112px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v3_884 {
  width: 745px;
  height: 65px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 348px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v3_900 {
  width: 224px;
  color: rgba(39,41,44,1);
  position: absolute;
  top: 331px;
  left: 112px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v3_967 {
  width: 100%;
  height: 1356px;
  background: url("../images/v3_967.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 412px;
  left: 112px;
  overflow: hidden;
}
.v3_904 {
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v3_918 {
  width: 100%;
  height: 254px;
  background: url("../images/v3_918.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 121px;
  left: 59px;
  overflow: hidden;
}
.v3_905 {
  width: 248px;
  height: 254px;
  background: rgba(39,41,44,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v3_906 {
  width: 332px;
  color: rgba(39,41,44,1);
  position: absolute;
  top: 0px;
  left: 290px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v3_907 {
  width: 242px;
  color: rgba(39,41,44,1);
  position: absolute;
  top: 0px;
  left: 864px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v3_908 {
  width: 634px;
  color: rgba(39,41,44,1);
  position: absolute;
  top: 76px;
  left: 290px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v3_919 {
  width: 100%;
  height: 254px;
  background: url("../images/v3_919.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 449px;
  left: 55px;
  overflow: hidden;
}
.v3_920 {
  width: 248px;
  height: 254px;
  background: rgba(39,41,44,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v3_921 {
  width: 536px;
  color: rgba(39,41,44,1);
  position: absolute;
  top: 0px;
  left: 290px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v3_922 {
  width: 242px;
  color: rgba(39,41,44,1);
  position: absolute;
  top: 0px;
  left: 864px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v3_923 {
  width: 634px;
  color: rgba(39,41,44,1);
  position: absolute;
  top: 112px;
  left: 290px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v3_925 {
  width: 100%;
  height: 254px;
  background: url("../images/v3_925.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 777px;
  left: 59px;
  overflow: hidden;
}
.v3_926 {
  width: 248px;
  height: 254px;
  background: rgba(39,41,44,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v3_927 {
  width: 332px;
  color: rgba(39,41,44,1);
  position: absolute;
  top: 0px;
  left: 290px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v3_928 {
  width: 242px;
  color: rgba(39,41,44,1);
  position: absolute;
  top: 0px;
  left: 864px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v3_929 {
  width: 634px;
  color: rgba(39,41,44,1);
  position: absolute;
  top: 76px;
  left: 290px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v3_935 {
  width: 104px;
  color: rgba(39,41,44,1);
  position: absolute;
  top: 1115px;
  left: 780px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v3_934 {
  width: 250px;
  color: rgba(39,41,44,1);
  position: absolute;
  top: 1105px;
  left: 911px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v3_936 {
  width: 317px;
  height: 65px;
  background: url("../images/v3_936.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1200px;
  left: 844px;
  overflow: hidden;
}
.v3_937 {
  width: 317px;
  height: 65px;
  background: rgba(46,175,187,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_938 {
  width: 187px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 18px;
  left: 65px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v3_960 {
  width: 205px;
  color: rgba(39,41,44,1);
  position: absolute;
  top: 0px;
  left: 1026px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v9_344 {
  width: 100%;
  height: 96px;
  background: url("../images/v9_344.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 161px;
  left: 0px;
  overflow: hidden;
}
.v9_345 {
  width: 100%;
  height: 96px;
  background: url("../images/v9_345.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v9_346 {
  width: 100%;
  height: 96px;
  background: rgba(46,175,187,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v9_347 {
  width: 107px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 34px;
  left: 121px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v9_348 {
  width: 107px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 34px;
  left: 297px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v9_349 {
  width: 107px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 34px;
  left: 478px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v9_350 {
  width: 107px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 34px;
  left: 659px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v9_351 {
  width: 107px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 34px;
  left: 835px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v9_352 {
  width: 107px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 34px;
  left: 1016px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v9_353 {
  width: 107px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 34px;
  left: 1197px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
